In [1]:
!which python
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
/Volumes/sdVT/AIkek/notebooks/work_with_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import pandas as pd

In [5]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

___

In [7]:
df_yellow = pd.read_csv(f'{path4data}/interim/df_yellow.csv') # from https://toolbox.google.com/datasetsearch/search?query=News%20dataset%20from%20Lenta.Ru&docid=WZBj5lLTe7UR9JeoAAAAAA%3D%3D
df_yellow.shape
df_yellow.head(2)

(10761, 2)

                                                text  is_yellow
0  Американские ученые совершили прорыв в области...          1
1  СМИ сообщили, что Пугачева купила квартиру в Л...          1

In [9]:
df_yellow.isnull().sum()

text         0
is_yellow    0
dtype: int64

In [10]:
df_yellow.is_yellow.value_counts()

0    6561
1    4200
Name: is_yellow, dtype: int64