In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/work_with_data

In [3]:
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

In [9]:
import pandas as pd
import numpy as np

___

In [65]:
#df_yellow = pd.read_csv(f'{path4data}/interim/df_yellow.csv')
df_yellow = pd.read_csv(f'{processed}/interim/yellow.csv')
print(df_yellow.shape)
df_yellow.head(2)

(10761, 2)

                                                text  is_yellow
0  Американские ученые совершили прорыв в области...          1
1  СМИ сообщили, что Пугачева купила квартиру в Л...          1

In [7]:
df_yellow.isnull().sum()

text         0
is_yellow    0
dtype: int64

In [8]:
df_yellow.is_yellow.value_counts()

0    6561
1    4200
Name: is_yellow, dtype: int64

In [68]:
for item in range(10):
    print(df_yellow.text[np.random.randint(df_yellow.shape[0])])

в сша обнаружен один из самых больших запасов пресной воды
Когда развод пошел на пользу. Матильда очень похорошела
Врачи онемели! Боль в суставах уходит, хрящи регенерируют если на 7 мин приложить...
Так закалялась сталь
проблем которые нужно решить перед поездкой на марс
nasa boeing и spacex отправят людей на мкс в году
видеo растения способны есть позвоночных животных
Видео курс практической робототехники на Lego NXT
открытие безмассовой частицы может серьезно ускорить электронику
владельцам xbox one стали доступны trial версии игр