In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/processed_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

In [35]:
import pandas as pd
from numpy.random import randint

___

### read data

* `yellow-only_title.csv`

In [5]:
df_yellow = pd.read_csv(f'{path4data}/interim/yellow-only_title.csv')
print(df_yellow.shape)
df_yellow.head(2)

(10761, 2)

                                               title  is_yellow
0  Американские ученые совершили прорыв в области...          1
1  СМИ сообщили, что Пугачева купила квартиру в Л...          1

In [12]:
df_yellow.isnull().sum()

title        0
is_yellow    0
dtype: int64

* `news_lenta-only_title.csv.gz`

In [6]:
df_lenta = pd.read_csv(f'{path4data}/interim/news_lenta-only_title.csv.gz', compression='gzip')
print(df_lenta.shape)
df_lenta.head(2)

(699746, 3)

       tags                                              title      topic
0  Общество  Илон Маск назвал педофилом спасавшего детей из...        Мир
1     Рынки  США задумались о распечатывании нефтяного резерва  Экономика

In [13]:
df_lenta.isnull().sum()

tags     24049
title        0
topic        0
dtype: int64

* `nplus1-only_title.csv.gz`

In [7]:
df_nplus1 = pd.read_csv(f'{path4data}/interim/nplus1-only_title.csv.gz', compression='gzip')
print(df_nplus1.shape)
df_nplus1.head(2)

(6529, 4)

   id  year  month                                              title
0   1  2017      3  nvidia и paccar занялись разработкой беспилотн...
1   2  2017      3  обзор наушников fiio ex второго поколения эвол...

In [14]:
df_nplus1.isnull().sum()

id       0
year     0
month    0
title    0
dtype: int64

* `webhose_2016-only_title.csv.gz`

In [25]:
df_webhose = pd.read_csv(f'{path4data}/interim/webhose_2016-only_title.csv.gz', compression='gzip')
print(df_webhose.shape)
df_webhose.head(2)

(289812, 3)

,site,published,title
0,mk.ru,2016-10-20T16:02:00.000+03:00,Краснодарские школы вошли в Топ-500 лучших в Р...
1,vz.ru,2016-10-09T17:02:00.000+03:00,Террорист обстрелял трамвайную остановку в Иер...

In [26]:
df_webhose.isnull().sum()

site         0
published    0
title        0
dtype: int64

* `ria-only_title.csv.gz`

In [27]:
df_ria = pd.read_csv(f'{path4data}/interim/ria-only_title.csv.gz', compression='gzip')
print(df_ria.shape)
df_ria.head(2)

(1003840, 1)

                                               title
0  большинство детей, которых пытались увезти в с...
1  луценко будет работать в команде тимошенко, ес...

In [28]:
df_ria.isnull().sum()

title    0
dtype: int64

---

In [30]:
10761+699746+6529+289812+1003840

2010688

In [34]:
concat_data = pd.concat([df_yellow.title, df_lenta.title, df_nplus1.title, df_webhose.title, df_ria.title],
                        ignore_index=True)

concat_data = pd.DataFrame(concat_data)

print(concat_data.shape)
concat_data.tail()

(2010688, 1)

                                                     title
2010683  крупнейшими учениями для вс россии в 2015 году...
2010684  рвсн россии проведут в 2015 году более ста учений
2010685  сухопутные войска россии в 2015 году проведут ...
2010686  еще несколько сожженных тел нашли в мексиканск...
2010687  гумчс: цех горит на севере москвы на площади 2...

In [244]:
concat_data.title[randint(concat_data.shape[0])]

'Военные списали 25\xa0миллионов на\xa0фиктивное разминирование форта'

In [245]:
# save only with column `title`
concat_data.to_csv(f'{path4data}/interim/concat_title_dirty.csv.gz', compression='gzip', index=False)