In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/processed_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

import os
import sys

%load_ext autoreload
%autoreload 2

In [4]:
# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`

PATH = os.path.join(dir_project)

sys.path.append(dir_project)

In [66]:
import html

import pandas as pd
from numpy.random import randint

In [10]:
# add clean_text
from aikek.data.clean_text import cleanText

___

### test each portal to clean right

* `yellow-only_title.csv`

In [7]:
df_yellow = pd.read_csv(f'{PATH}/data/interim/yellow-only_title.csv')
print(df_yellow.shape)
df_yellow.head(2)

(10761, 2)

                                               title  is_yellow
0  Американские ученые совершили прорыв в области...          1
1  СМИ сообщили, что Пугачева купила квартиру в Л...          1

In [8]:
df_yellow.isnull().sum()

title        0
is_yellow    0
dtype: int64

In [139]:
rand_number = randint(df_yellow.shape[0])
rand_text = df_yellow.title[rand_number]

print(rand_text)
cleanText(rand_text)

Не губите сердце Корвалолом и Эналаприлом! Гипертония исчезнет, а сосуды очистятся если по утрам съедать кислый...

'Не губите сердце Корвалолом и Эналаприлом! Гипертония исчезнет, а сосуды очистятся если по утрам съедать кислый'

* `news_lenta-only_title.csv.gz`

In [36]:
df_lenta = pd.read_csv(f'{PATH}/data/interim/news_lenta-only_title.csv.gz', compression='gzip')
print(df_lenta.shape)
df_lenta.head(2)

(699746, 3)

       tags                                              title      topic
0  Общество  Илон Маск назвал педофилом спасавшего детей из...        Мир
1     Рынки  США задумались о распечатывании нефтяного резерва  Экономика

In [37]:
df_lenta.isnull().sum()

tags     24049
title        0
topic        0
dtype: int64

In [201]:
rand_number = randint(df_lenta.shape[0])
rand_text = df_lenta.title[rand_number]

print(rand_text)
cleanText(rand_text)

Четыре сборные отказались от поездки в Уфу на чемпионат Европы по биатлону

'Четыре сборные отказались от поездки в Уфу на чемпионат Европы по биатлону'

* `nplus1-only_title.csv.gz`

In [203]:
df_nplus1 = pd.read_csv(f'{PATH}/data/interim/nplus1-only_title.csv.gz', compression='gzip')
print(df_nplus1.shape)
df_nplus1.head(2)

(6529, 4)

   id  year  month                                              title
0   1  2017      3  nvidia и paccar занялись разработкой беспилотн...
1   2  2017      3  обзор наушников fiio ex второго поколения эвол...

In [462]:
df_nplus1.isnull().sum()

id       0
year     0
month    0
title    0
dtype: int64

In [283]:
rand_number = randint(df_nplus1.shape[0])
rand_text = df_nplus1.title[rand_number]

print(rand_text)
cleanText(rand_text)

microsoft создаст систему идентификации на базе блокчейна

'microsoft создаст систему идентификации на базе блокчейна'

* `webhose_2016-only_title.csv.gz`

In [284]:
df_webhose = pd.read_csv(f'{PATH}/data/interim/webhose_2016-only_title.csv.gz', compression='gzip')
print(df_webhose.shape)
df_webhose.head(2)

(289812, 3)

,site,published,title
0,mk.ru,2016-10-20T16:02:00.000+03:00,Краснодарские школы вошли в Топ-500 лучших в Р...
1,vz.ru,2016-10-09T17:02:00.000+03:00,Террорист обстрелял трамвайную остановку в Иер...

In [461]:
df_webhose.isnull().sum()

site         0
published    0
title        0
dtype: int64

In [457]:
rand_number = randint(df_webhose.shape[0])
rand_text = df_webhose.title[rand_number]

print(rand_text)
cleanText(rand_text)

Источник: в Нижнем Новгороде обнаружена квартира злоумышленников

'Источник: в Нижнем Новгороде обнаружена квартира злоумышленников'

* `ria-only_title.csv.gz`

In [459]:
df_ria = pd.read_csv(f'{PATH}/data/interim/ria-only_title.csv.gz', compression='gzip')
print(df_ria.shape)
df_ria.head(2)

(1003840, 1)

                                               title
0  большинство детей, которых пытались увезти в с...
1  луценко будет работать в команде тимошенко, ес...

In [460]:
df_ria.isnull().sum()

title    0
dtype: int64

In [490]:
rand_number = randint(df_ria.shape[0])
rand_text = df_ria.title[rand_number]

print(rand_text)
cleanText(rand_text)

кто в лес

'кто в лес'

---

### concat data

In [491]:
concat_data = pd.concat([df_yellow.title, df_lenta.title, df_nplus1.title, df_webhose.title, df_ria.title],
                        ignore_index=True)

concat_data = pd.DataFrame(concat_data)

print(concat_data.shape)
concat_data.tail()

(2010688, 1)

                                                     title
2010683  крупнейшими учениями для вс россии в 2015 году...
2010684  рвсн россии проведут в 2015 году более ста учений
2010685  сухопутные войска россии в 2015 году проведут ...
2010686  еще несколько сожженных тел нашли в мексиканск...
2010687  гумчс: цех горит на севере москвы на площади 2...

drop small size title

In [492]:
concat_data['len_title'] = concat_data.title.apply(lambda x: len(x))

In [493]:
concat_data.len_title.value_counts()

70     120856
69     115397
68     107489
67      99096
66      91459
65      85805
64      79280
63      72715
62      67713
61      62409
60      59242
59      55010
58      53075
57      50340
56      48425
55      46435
54      44453
53      42310
52      40496
51      38531
50      37452
49      35208
48      32862
47      30491
46      28348
45      26582
44      24638
43      22428
71      22400
72      21136
        ...
299         1
307         1
311         1
316         1
318         1
343         1
344         1
373         1
374         1
256         1
255         1
254         1
230         1
188         1
196         1
205         1
211         1
217         1
225         1
226         1
236         1
253         1
237         1
242         1
244         1
246         1
249         1
250         1
251         1
1           1
Name: len_title, Length: 247, dtype: int64

In [494]:
concat_data = concat_data[concat_data.len_title>5]
concat_data.shape

(2009306, 2)

In [496]:
# save only with column `title`
concat_data.to_csv(f'{PATH}/data/interim/concat_title_clean.csv.gz', compression='gzip', index=False)