In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/processed_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

In [5]:
import pandas as pd
import numpy as np

___

In [6]:
#df_yellow = pd.read_csv(f'{path4data}/interim/df_yellow.csv')
df_ria = pd.read_csv(f'{path4data}/interim/ria.csv.gz', compression='gzip')
print(df_ria.shape)
df_ria.head(2)

(1003840, 2)

,title,text
0,"большинство детей, которых пытались увезти в с...","<p><strong></strong></p>\n<p><strong>москва, 3..."
1,"луценко будет работать в команде тимошенко, ес...","<p><strong></strong></p>\n<p><strong>киев, 31 ..."

In [7]:
df_ria.isnull().sum()

title    0
text     0
dtype: int64

In [22]:
rand_shape_df_lenta = np.random.randint(df_ria.shape[0])

print(f'title: {df_ria.title[rand_shape_df_lenta]}')
print(f'text: {df_ria.text[rand_shape_df_lenta]}')

title: звезда голливуда дастин хоффман спас жизнь молодому мужчине
text: <p><strong></strong></p>
<p><strong>москва, 8 мая - риа новости.</strong> легендарный актер дастин хоффман спас жизнь мужчине, у которого остановилось сердце во время пробежки по лондонскому гайд-парку, сообщает во вторник газета <a href="http://www.dailymail.co.uk/home/index.html" target="_blank">daily mail</a>.</p>
<p>как отмечает издание, инцидент произошел еще в конце апреля, когда 27-летний сэм демпстер (sam dempster) совершал пробежку по гайд-парку. неожиданно его сердце остановилось, и он упал. по данным газеты, именно в это время в гайд-парке прогуливался хоффман.</p>
<p>звезда голливуда немедленно позвонил в службу спасения, сотрудники которой прибыли на место происшествия и "заставили" сердце молодого человека забиться вновь.</p>
<p>как отмечает daily mail, в настоящее время демпстер находится в больнице и идет на поправку. он ничего не помнит об инциденте, который произошел около десяти дней назад. несмотря на отсутствие воспоминаний о пережитом, счастливо избежавший смерти бегун заявил, что благодарен звезде культового фильма "человек дождя".</p>
<p>для самого 74-летнего актера этот эпизод вряд ли был сильным потрясением - в кино его героям приходилось спасать тысячи людей. но даже одна жизнь, спасенная в реальности, безусловно, большое достижение.</p>
<p>голливудский актер дастин хоффман, чью славу составили фильмы "выпускник", "полуночный ковбой", "тутси" и "человек дождя", - одна из самых титулованных голливудских звезд: в его коллекции есть два "оскара" и четыре премии bafta. актер женат, от двух браков имеет пятерых детей.</p>

In [28]:
# save only with column `title`
pd.DataFrame(df_ria['title']).to_csv(f'{path4data}/interim/ria-only_title.csv.gz', compression='gzip', index=False)