In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/processed_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

In [4]:
import pandas as pd
import numpy as np

___

In [6]:
#df_yellow = pd.read_csv(f'{path4data}/interim/df_yellow.csv')
df_webhose = pd.read_csv(f'{path4data}/interim/webhose_2016.csv.gz', compression='gzip')
print(df_webhose.shape)
df_webhose.head(2)

(289813, 6)

,site,published,url,text,title,language
0,mk.ru,2016-10-20T16:02:00.000+03:00,http://kuban.mk.ru/articles/2016/10/20/krasnod...,Краснодарские школы вошли в Топ-500 лучших в Р...,Краснодарские школы вошли в Топ-500 лучших в Р...,russian
1,vz.ru,2016-10-09T17:02:00.000+03:00,http://www.vz.ru/news/2016/10/9/836974.html,", передает ТАСС . По данным Haaretz, одна из ...",Террорист обстрелял трамвайную остановку в Иер...,russian

In [6]:
df_webhose.isnull().sum()

title        0
is_yellow    0
dtype: int64

In [12]:
df_webhose.language.value_counts()

russian    289813
Name: language, dtype: int64

In [10]:
rand_shape_df_lenta = np.random.randint(df_webhose.shape[0])

print(f'title: {df_webhose.title[rand_shape_df_lenta]}')
print(f'text: {df_webhose.text[rand_shape_df_lenta]}')

title: В Роскосмосе установили мемориальную доску академику Бармину
text: Москва Под руководством Бармина были разработаны стартовые комплексы для многих ракет, в том числе и для межконтинентальной баллистической ракеты Р-7, которая вывела на орбиту Земли первый в истории искусственный спутник. Памятный знак в честь ученого в Роскосмосе установили еще и по другой причине. В этом здании Владимир Бармин проработал около 20 лет.

In [11]:
df_webhose.head(2)

,site,published,url,text,title,language
0,mk.ru,2016-10-20T16:02:00.000+03:00,http://kuban.mk.ru/articles/2016/10/20/krasnod...,Краснодарские школы вошли в Топ-500 лучших в Р...,Краснодарские школы вошли в Топ-500 лучших в Р...,russian
1,vz.ru,2016-10-09T17:02:00.000+03:00,http://www.vz.ru/news/2016/10/9/836974.html,", передает ТАСС . По данным Haaretz, одна из ...",Террорист обстрелял трамвайную остановку в Иер...,russian

In [13]:
# save only with column `title`
df_webhose[['site','published','title']].to_csv(f'{path4data}/interim/webhose_2016-only_title.csv.gz', compression='gzip', index=False)