In [1]:
!which python
!python -V
!pwd

/Volumes/sdVT/AIkek/env_aikek/bin/python
Python 3.7.3
/Volumes/sdVT/AIkek/notebooks/work_with_data

In [2]:
# import warnings
# warnings.filterwarnings('ignore')

In [3]:
import os

# set path 
# home_path = os.getenv('HOME') # create home directory
dir_project = '/Volumes/sdVT/AIkek' # write your main proj directory 

# path = os.path.join(home_path, dir_project,'data') # will be work with directory `data`
path4data = os.path.join(dir_project,'data')

In [4]:
import pandas as pd
import numpy as np

___

In [5]:
#df_yellow = pd.read_csv(f'{path4data}/interim/df_yellow.csv')
df_yellow = pd.read_csv(f'{path4data}/interim/yellow-only_title.csv')
print(df_yellow.shape)
df_yellow.head(2)

(10761, 2)

                                               title  is_yellow
0  Американские ученые совершили прорыв в области...          1
1  СМИ сообщили, что Пугачева купила квартиру в Л...          1

In [77]:
# rename `text` -> `title`

# df_yellow.rename({'text':'title'}, axis=1, inplace=True)

In [6]:
df_yellow.isnull().sum()

title        0
is_yellow    0
dtype: int64

In [7]:
df_yellow.is_yellow.value_counts()

0    6561
1    4200
Name: is_yellow, dtype: int64

In [35]:
for item in range(10):
    print(df_yellow.title[np.random.randint(df_yellow.shape[0])])

самый старый город мира страдал от тесноты грязи и насилия
на мкс отказал один из скафандров
у шерстистых мамонтов и неандертальцев могут быть общие генетические черты
За 2 недели шишки на ноге втянулись! 1 раз в день втирала дешевую...
Старинный способ убрать боль в коленях. Для этого...
Комфорт и безопасность в бытовых условиях или роботы на службе у Человека
Краткий обзор популярных нейронных сетей
фото этот древний монстр наполнял свой рот едой при помощи щупалец
Введение в право интеллектуальной собственности в цифровой среде.
брокколи помогает в борьбе с аутизмом

In [84]:
# save with new name column (`title`)
# df_yellow.to_csv(f'{path4data}/interim/yellow-only_title.csv', index=False)